body {
    background-image: url("138728.jpg");
}

.otsikko {
    background-color: black;
    color: red;
   font-style: normal;
}

.container_otsikko {
    width: 250px;
    height: 65px;
    background-color: black;
    text-align: center;
    border-width: 5px;
    border-color: darkred;
    border-style: solid;
    position: absolute;
    padding-bottom: 20px;
    left: 425px;
    top: 10px;
    border-radius: 8px;
    }

.container1 {
    width: 250px;
    height: 130px;
    border-radius: 8px;
    background-color: black;
    padding: 20px;
    border-width: 5px;
    border-color: darkred;
    border-style: solid;
    padding-bottom: 25px;
    position: static;
    left: 250px;
    top: 200px;
    position: absolute;
    }

.container2 {
    width: 220px;
    height: 355px;
    border-radius: 8px;
    background-color: black;
    padding: 20px;
    border-width: 5px;
    border-color: darkred;
    border-style: solid;
    padding-bottom: 25px;
    position: absolute;
    top: 200px;
    left: 565px;
    }

.container3 {
    width: 250px;
    height: 200px;
    border-radius: 8px;
    background-color: black;
    color: white;
    border-width: 5px;
    border-color: darkred;
    border-style: solid;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    top: 400px;
    left: 250px;
    }

.kuva_containeri {
    position: absolute;
    top: 455px;
    left: 935px;
    border-radius: 8px;
}
.giffi {
    position: absolute;
    width: 460px;
    height: 259px;
    border-radius: 8px;
    border-width: 5px;
    border-style: solid;
    border-color: darkred;
    top: 340px;
    left: 850px;
    background-image: url("AdolescentVelvetyIcelandicsheepdog-size_restricted.gif");

}
